
.card{
display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 10px;
  margin: 550px;
  widthheight: 100px;
  width: 300px;
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
   color: $yellow-300;
  background-color:$indigo-900;
}
.cancelbtn{
	background-color:rgb(255, 99, 71);
}
.loginbtn{
	background-color:rgb(255,99,71);

}